@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #e60012; 
  --secondary-color: #1d3557; 
  --accent-color: #ffb81c; 
  --text-dark: #1a1a1a; 
  --text-light: #e00910;
  --white: #ffffff;
  --max-width: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
      to right,
      rgba(230, 0, 18, 0.8),
      rgba(255, 255, 255, 0)
    ),
    url("assets/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.container {
  max-width: var(--max-width);
  min-height: 100vh;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.logo img {
  max-width: 70px;
}

.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  text-decoration: none;
  font-weight: 600;
  color: var(--white);
  transition: color 0.3s ease;
}

.link a:hover {
  color: var(--accent-color);
}

.search {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 2rem;
  transition: 0.3s;
}

.search input {
  width: 100%;
  font-size: 1rem;
  color: var(--primary-color);
  outline: none;
  border: none;
}

.search input::placeholder {
  color: var(--secondary-color);
}

.search span {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.login {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.login:hover {
  background-color: var(--accent-color);
}

.login span {
  padding: 5px 8px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--white);
  border-radius: 100%;
}

.destination {
  position: relative;
  padding: 5rem 0 5rem 5rem;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;
  margin-top: 100px; 
}

.socials {
  position: absolute;
  top: 25rem;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.socials::after {
  position: absolute;
  content: "";
  top: -22rem;
  left: 15px;
  height: 15rem;
  width: 2px;
  background-color: var(--white);
}

.socials span {
  font-size: 2rem;
  color: var(--white);
  cursor: pointer;
  transition: color 0.3s ease;
}

.socials span:hover {
  color: var(--accent-color);
}

.content h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 800;
  color: var(--white);
}

.content h1 span {
  -webkit-text-stroke: 2px var(--white);
  -webkit-text-fill-color: transparent;
}

.content p {
  max-width: 350px;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  color: var(--white);
}

.content .btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--secondary-color);
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.content .btn:hover {
  background-color: var(--primary-color);
  color: var(--white);
  transform: scale(1.1);
}

.destination__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.destination__card {
  height: 100%;
  max-height: 500px; 
  background-color: var(--white);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destination__card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}

.destination__card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__content {
  padding: 1rem;
  text-align: left;
}

.card__content h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__content p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: var(--text-light);
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__content .btn {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  cursor: pointer;
  margin-top: auto;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.card__content .btn:hover {
  background-color: var(--accent-color);
}

@media (width < 1200px) {
  .destination {
    grid-template-columns: 1fr;
  }
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .content h1 {
    font-size: 4.5rem;
  }

  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .search {
    display: none;
  }

  .destination {
    padding-left: 3rem;
  }

  .content h1 {
    font-size: 3rem;
  }

  .destination__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
